<!DOCTYPE html>
<html>
<head>
  <title>PDF Report</title>
</head>
<body>
  <h1><%= word %></h1>
  <% for (let i = 0; i < wipo.length; i++) { %>
    <p>Класс <%= wipo[i].cls %>:</p>
  <% for (let j = 0; j < wipo[i].text.length; j++) { %>
    
    <p><%= wipo[i].text[j].charAt(0).toUpperCase() + wipo[i].text[j].slice(1) %>.</p>
  <% } %>

    <br/>
  <% } %>

  <h2>Синонимы:</h2>
  <p>
    <%= synonyms.join(', ') %>
  </p>
</body>
</html>
